
#titleSection{
  padding:0;
}
#timeTable{
  padding: 5% 8%;
  background-color: #F8F9FA;
}

body{

}
thead{
  text-align : center;
}

td{
  text-align : center;
  vertical-align: middle;
}

.mybutt{
padding: 7px 0;
}
